 <body>
    <div class="row center-xs ">
      <div class="col-xs-8 col-md-6">
        <div class="box text-left">
       <div class="field">
                <%= form_tag articles_path, method: :get do%>
                <%= text_field_tag :keyword, nil, placeholder: "Título o Descripción", class:"form-control"%>
                <%= content_tag :button,class:"btnSubmit be-red",type: :submit do%>
                    Buscar
             <% end %>
             <% end %>
      </div>       
      </div>
      </div>
      </div>
    </body>
<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
        <% @articles.each do |article| %>
            <% if article.disponible == "Privado" and article.user == current_user %>

            <h1><%= link_to article.title, article %></h1>
            <div>
                Visitas: <%= article.visits_count %>
            </div>
            <% if article.user == current_user%>
                <div>
                    <%= article.body %>
                </div>
                <div>
                    <p>Tamaño: <%= article.tamano %></p>
                </div>
                <p>
                 <%= link_to "Eliminar", article, method: :delete, class:"btn be-red"%> 
                </p>
            <%end%>
            <%elsif article.disponible == "Compartido" and user_signed_in? or article.disponible == "Público" and user_signed_in?%>
            <h1><%= link_to article.title, article %></h1>
            <div>
                Visitas: <%= article.visits_count %>
            </div>
            <% if article.user == current_user%>
            <div>
                <%= article.body %> 
            </div>
            <div>
                <p>Tamaño: <%= article.tamano %></p>
            </div>
            <p>
            <%= link_to "Eliminar", article, method: :delete, class:"btn be-red"%> 
            </p>
            <%end%>
            <%elsif article.disponible == "Público" and not user_signed_in? %>
            <h1><%= link_to article.title, article %></h1>
            <div>
                Visitas: <%= article.visits_count %>
            </div>
            <% if article.user == current_user%>
            <div>
                <%= article.body %> 
            </div>
            <div>
                <p>Tamaño: <%= article.tamano %></p>
            </div>
            <p>
            
            <%end%>
        <%end%>
        <%end%>
    </div>
  </div>
</div>