 <body>
    <div class="row center-xs ">
      <div class="col-xs-8 col-md-6">
        <div class="box text-left">
       <div class="field">
                <%= form_tag articles_path, method: :get do%>
                <%= text_field_tag :keyword, nil, placeholder: "Título o Descripción", class:"form-control"%>
                <%= content_tag :button,class:"btnSubmit be-red",type: :submit do%>
                    Buscar
             <% end %>
             <% end %>
      </div>       
      </div>
      </div>
      </div>
    </body>
<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
        <% @articles.each do |article| %>
            <h1><%= link_to article.title, article %></h1>
            <div>
                <%= article.body %> - <%= link_to "Eliminar", article, method: :delete, class:"btn be-red"%> 
            </div>
        <%end%>
    </div>
  </div>
</div>
