<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
        <h1>Subir foto</h1>
        <%= form_for(@article) do |f|%>
            <% @article.errors.full_messages.each do |message| %>
                <div class= "be-red white">
                    * <%= message%>
                </div>
            <%end%>
            <div class="field">
            <h5> Disponibilidad de la foto: </h5><%= f.select :disponible, options_for_select([["Público"],["Privado"]])%>
            </div>
            <div class="field">
                <%= f.text_field :title, placeholder: "Título de la foto", class:"form-control"%>
            </div>
                <div class="field">
                <%= f.text_field :tamano, placeholder: "Tamaño de la foto", class:"form-control"%>
            </div>
            <div class="field">
                <%= f.text_area :body, placeholder: "Descripción", style:"height:250px;", class:"form-control"%>
            </div>
            <div class="field">
                <%= f.submit "Subir", class:"btnSubmit be-red white"%>
            </div>
        <%end%>
    </div>
  </div>
</div>