 <header>
      <nav class="be-red white large-padding">
        <ul class="no-list row center-xs middle-xs">
          <li class="col-md">
            <h1 class="no-margin" id="logo">InstaTopicos</h1>
          </li>
          <% if user_signed_in? %>
          <li class="col-md">
            <%= link_to "Inicio", articles_path %>
          </li>
          <li class="col-md">
            <%= link_to "Subir", new_article_path %>
          </li> 
            <li class="col-md">
              <%= link_to "Salir", destroy_user_session_path, method: :delete %>
            </li>
            <li class="col-md">
              <%= link_to "Editar perfil ", edit_user_registration_path %>
            </li>
          <%else%>
          <li class="col-md">
            <%= link_to "Fotos públicas", articles_path %>
          </li>
            <li class="col-md">
              <%= link_to "Iniciar Sesión", new_user_session_path %>
            </li>
            <li class="col-md">
              <%= link_to "Crear cuenta ", new_user_registration_path %>
            </li>
          <%end%>
        </ul>
      </nav>
    </header>