<!DOCTYPE html>
<html>
  <head>
    <title>InstaTopicos</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   <%= render "partials/navigation" %>
    <%= yield %>
  </body>
</html>
