<!DOCTYPE html>
<html>
  <head>
    <title>InstaTopicos</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="be-red white large-padding">
        <ul class="no-list row center-xs middle-xs">
          <li class="col-md">
            <h1 class="no-margin" id="logo">InstaTopicos</h1>
          </li>
          <li class="col-md">
            <%= link_to "Inicio", root_path %>
          </li>
          <li class="col-md">
            Buscar
          </li>
          <li class="col-md">
            Subir
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
